<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Se pueden tener varios archivos xml para ejecutar diferentes pruebas -->
<suite name="Loan Department">
	<test name="Peronal Loan">
		<classes>
			<!-- <class name="Section17_TestNG.A1_Basics"/> -->	<!-- Son las clases a ejecutar -->
			<!-- <class name="Section17_TestNG.A2_Basics2"/> -->	<!-- Paquete.clase -->
		</classes>
	</test>			<!-- Para excluir clases completas se puede comentar el codigo -->
	<test name="Car Loan">
		<classes>
			<class name="Section17_TestNG.A3_Basics3">
				<methods>
					<exclude name="apiLogin" />			<!-- Para excluir un metodo en particular se expande la etiqueta de class -->
					<!-- Si solo se quiere correr un solo metodo se usaría <include... -->
				</methods>
			</class>
		</classes>
	</test>
</suite>
